.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.orders {
    margin-top: 1rem;
    width: 70%;
    height: 174px;
    border: 1px solid rgb(16, 14, 14);
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: whitesmoke;
}

.topHeading {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
}

.topHeading h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.topHeading h5 {
    margin-top: 0.3rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 2px solid black;
}

.orderInfo {
    margin: 0rem 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.item, .total, .status {
    background-color: white;
    padding: 0rem 0.5rem;
    margin: 0.3rem;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

.item h6, .total h6, .status h6 {
    font-weight: 600;
}
